<form class="" action="mailto:kamibonizzi@gmail.com" method="post">

<div class="form-group">
  <label for="">E-mail: </label>
    <input class="form-control" type="email">
    <label for="">Mensagem: </label>
    <textarea class="form-control" name="_" rows="8" cols="80"></textarea>
</div>
  <button class="btn btn-secondary btn-md" type="submit">Enviar</button>
</form>

<div class="bottom-container">
        <a class="contact-link" href="https://www.linkedin.com/in/camila-bonizzi-52a432140?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUBaidd3aQYGhdX%2BxRindJA%3D%3D"><i class="fab fa-linkedin fa-2x"></i> LinkedIn</a>
        <a class="contact-link" href="https://github.com/kamilis26"><i class="fab fa-github-square fa-2x"></i> GitHub</a>
</div>
