<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Camila's CV v2.0</title>

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Ubuntu&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&family=Urbanist:wght@200&display=swap" rel="stylesheet">


  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



<nav class="menu" tabindex="0">
    <div class="divMain">
      <header class="avatar">
        <img class="myself2" src="/images/EuRoxa.jpg"alt="myself-photo">
      </header>
      <ul>
        <li><a class="lista p-2" href="/"><span>Home</span></a></li>
        <li><a class="lista p-2" href="/work"><span>Experiência Profissional</span></a></li>
        <li><a class="lista p-2" href="/education"><span>Educação</span></a></li>
        <li><a class="lista p-2" href="/course"><span>Cursos Complementares</span></a></li>
        <li><a class="lista p-2" href="/skill"><span>Habilidades</span></a></li>
        <li><a class="lista p-2" href="/about"><span>Sobre mim</span></a></li>
        <li><a class="lista p-2" href="/contact"><span>Contato</span></a></li>
      </ul>
    </div>
</nav>
