<%- include("partials/header"); -%>

<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

      <aside class="col-md-9 blog-sidebar">
        <h1>
          Sobre mim:
        </h1>
        <p> Sou Camila, uma mulher jovem e apaixonada por entender como as coisas funcionam. Dona de cinco gatos, aprendi na prática a reparar coisas destruída por eles. Desde que me entendo por gente, estou sempre em busca de novos conhecimentos: colégio, faculdade, inglês, pós-graduação, softwares variados e atualmente linguagem de programação. Decidida a mudar de vida, resolvi escrever esse blog como uma forma de incentivar a mim mesma. Apesar de ser um objetivo pessoal, compartilhá-lo me ajuda manter a disciplina, além de interagir novas pessoas.</p>
        <p>Sou uma jovem sonhadora que tem anseios de conquistar o mundo. Com o dia a dia dividido entre trabalho e estudo, essa eterna aprendiz mostra os desafios vividos. São relatados situações de motivação, insegurança, desânimo, mas também de relaxamento e descontração, afinal faz parte da rotina de qualquer estudante. Além disso, compartilha-se momentos, com pessoas que dão suporte, essenciais, para cumprir tais ojetivos, sejam eles, familiares, amigos e colegas de trabalho.</p>
        <p>Tomei a decisão de mudar de carreira ou, na verdade, de procurar algo melhor, mais desafiador. Apesar de ter um emprego estável e ser um dos pilares da empresa, estava acomodada, sem motivação e, principalmente, sem um propósito. Decidi mudar, procurar novos horizontes.
          Sabemos que não é fácil e que, muitas vezes, o trajeto é longo para conquistar tal objetivo. Seria necessário adquirir novos conhecimentos através de estudos para conquistar um melhor curriculum.
          Me matriculei em um curso de idioma estrangeiro (inglês) e dois anos depois também iniciei o curso de pós-graduação de gestão de projetos.
          Alguns meses após a conclusão da pós-graduação, surgiu a oportunidade de participar de uma capacitação na área de tecnologia. Aqui estamos, nesse momento, estudando diversos tópicos relacionados à tecnologia que a cada dia me identifico ainda mais.</p>
    </div>

    </aside>
  </div>
  </div>
</main>




<%- include("partials/footer"); -%>
