<%- include("partials/header"); -%>


<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

    <aside class="col-md-9 blog-sidebar">
      <h1>
        Contato:
      </h1>
      <hr>
        <div>
          <ol class="list-unstyled">
            <li>Telefone: +55 (11)91234-5678</li>
            <li>E-mail: kamibonizzi@gmail.com</li>
            <li> Linkedin: <a href="https://www.linkedin.com/in/camila-bonizzi-52a432140?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BUBaidd3aQYGhdX%2BxRindJA%3D%3D">Camila Bonizzi</a></li>
          </ol>
        </div>

        <p>Se quiser, escreva uma mensagem por aqui mesmo:</p>
          <%- include("partials/contactPlus"); -%>
      </div>

    </aside>
  </div>
  </div>
</main>



<%- include("partials/footer"); -%>
