<%- include("partials/header"); -%>

<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

      <aside class="col-md-9 blog-sidebar">
        <h1>
          Cursos Complementares:
        </h1>

        <div class="row">
          <div class="feature-box col-lg-6">
            <h3 class="titulo2 feature-title"># Tecnologia em novas mídias</h3>
            <p>Parceria Rede Globo e Universidade Presbiteriana Mackenzie 2016</p><br>

            <h3 class="titulo2 feature-title"># Excel Intermediário/ Avançado</h3>
            <p>Universidade Presbiteriana Mackenzie - 2014/2015</p><br><br>

            <h3 class="titulo2 feature-title"># Inglês Avançado</h3>
            <p>Cel Lep - 2018-Atualmente</p>
          </div>

          <div class="feature-box col-lg-6">
            <ol class="list-unstyled">
              <li><img class="curso-image" src="/images/GloboMack.png" alt="GM"></li>
              <li><img class="curso-image" src="/images/excel.png" alt="excel"></li>
              <li><img class="curso-image" src="/images/ingles.png" alt="ingles"></li>

            </ol>
          </div>

        </div>

      </aside>






  </div>
  </div>
</main>


<%- include("partials/footer"); -%>
