<%- include("partials/header"); -%>

<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

    <aside class="col-md-9 blog-sidebar">
      <h1>
        Educação:
      </h1>
      <li>Ensino Fundamental e Ensino Médio: Colégio Santa Marcelina. <b>Formada em: 2008.</b></li>
      <li>Graduação: Engenharia Eletrônica - Universidade Presbiteriana Mackenzie. <b>Formada em: 2016.</b></li>
      <li>Pós-Graduação: Gestão de Projetos - Universidade Presbiteriana Mackenzie. <b>Formada em: 2021.</b></li>
    </aside>
  </div>
  </div>
</main>



<%- include("partials/footer"); -%>
