<%- include("partials/header"); -%>


<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

      <aside class="col-md-8">
        <h1 class="nome">Camila Bonizzi</h1>
        <h1 class="sobrenome">Engenheira Eletrônica</h1>
        <div class="row">
          <div class="feature-box col-lg-4">
            <h3 class="feature-title">📞 +55 (11)91234-5678</h3>
          </div>

          <div class="feature-box col-lg-4">
            <h3 class="feature-title">✉ kamibonizzi@gmail.com</h3>
          </div>

          <div class="feature-box col-lg-4">
            <h3 class="feature-title">🚩 Rua Street 2nd, 123, Centro.</h3>
          </div>
        </div>

        <hr class="hrprincipal">
        <h1>
          Objetivo:
        </h1>
        <p> Atuar em projetos da área de<span><b><a href="https://www.fit-tecnologia.org.br/"> Tecnologia </a></b></span>ou em projetos de Engenharia Eletro Eletrônica que me permitam contribuir
          com as minhas habilidades e experiência assim como me desenvolver técnica e funcionalmente, compartilhando conhecimento
          com equipes mais experientes, com intuito de inovação, busca de melhorias, eficiência e otimização de resultados para o
          negócio.</p>
        <hr>

        <div class="interesses">
          <h1>Interesses: </h1>
          <div id="testimonial-carousel" class="carousel slide" data-ride="false">
            <div class="carousel-inner">
              <div class="carousel-item active container-fluid">
                <h2 class="interesse-text">Desenvolvimento</h2>
                <img class="interesse-image" src="/images/desenvolvimento.jpg" alt="develop">
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="interesse-text">Tecnologia</h2>
                <img class="interesse-image" src="/images/tech.jpg" alt="tech">
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="interesse-text">Hardware</h2>
                <img class="interesse-image" src="/images/hardware.jpg" alt="hard">
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="interesse-text">Software</h2>
                <img class="interesse-image" src="/images/software.jpg" alt="software">
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="interesse-text">Internet of Things</h2>
                <img class="interesse-image" src="/images/iot.jpg" alt="ia">
              </div>
              <div class="carousel-item container-fluid">
                <h2 class="interesse-text">Inteligência Artificial</h2>
                <img class="interesse-image" src="/images/IA.jpg" alt="iot">
              </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>



<%- include("partials/footer"); -%>
