<%- include("partials/header"); -%>

<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

    <aside class="col-md-9 blog-sidebar">
      <h1>
        Habilidades:
      </h1>

      <div class="row">
        <div class="feature-box col-lg-6">
          <h3 class="titulo feature-title">HARD SKILLS</h3>
          <ol class="list-unstyled">
            <li class="curso">Inglês: ⭐⭐⭐⭐</li>
            <li class="curso">Espanhol: ⭐</li>
            <li class="curso">Programação C++: ⭐⭐⭐</li>
            <li class="curso">Eagle: ⭐⭐⭐⭐</li>
            <li class="curso">Excel: ⭐⭐⭐</li>
            <li class="curso">Java: ⭐⭐</li>
          </ol>
        </div>

        <div class="feature-box col-lg-6">
          <h3 class="titulo feature-title">SOFT SKILLS</h3>
          <ol class="list-unstyled">
            <li class="curso">Trabalho em equipe: ⭐⭐⭐⭐</li>
            <li class="curso">Gerenciar tempo: ⭐⭐</li>
            <li class="curso">Comunicação: ⭐⭐⭐</li>
            <li class="curso">Flexibilidade: ⭐⭐⭐⭐</li>

          </ol>
        </div>

      </div>



    </aside><!-- /.blog-sidebar -->
  </div>
  </div>
</main>


<%- include("partials/footer"); -%>
