<%- include("partials/header"); -%>

<main>
  <div class="helper">
    <div class="row">
      <div class="col-md-3">
      </div>

    <aside class="col-md-9 blog-sidebar">
      <h1>
        Experiência Profissional:
      </h1>

  <li><b>2013 - 2013:</b> Operadora de atendimento cartões Bradesco.</li>
  <li><b>2014 - 2014:</b> Assistente de loja na Siberian-Crawford.</li>
  <li><b>2016 - 2016:</b> Estágio na Exemplo Company.</li>
  <li><b>2017 - 2019:</b> Analista de tecnologia na Exemplo Company.</li>
  <li><b>2019 - Atualmente:</b>
    <ol class="listaWork">
      <li>Responsável pelo desenvolvimento de projetos de robótica para o segmento de Educação.</li>
      <li>Análise técnica de produtos para participação em licitações federais e estaduais.</li>
      <li>Coordenação da área de suporte técnico e atendimento a clientes.</li>
      <li>Elaboração de manuais com especificações técnica.</li>
      <li>Treinamento de clientes.</li>
      <li>Desenhos esquemático de circuito impresso.</li>
      <li>Desenhos de protótipos em 3D.</li>
    </li>
    </ol>

      <hr>

      <div class="blog-post">
        <h1 class="blog-post-title">Atualmente</h1>
        <p class="blog-post-meta">Agosto, 2021</p>

        <p>Nos últimos meses, participei do desenvolvimento e implantação de uma plataforma on-line para aulas de robótica educacional. O objetivo era levar as aulas, que antes eram presenciais, para dentro do computador dos alunos. Para isso, foi
          necessário transformar aulas em vídeos e criar um sistema de suporte on-line. Cada aluno deveria ser capaz de fazer a instalação do software e acompanhar as aulas sem a necessidade do auxílio de um professor. </p>
      </div>


    </aside>
  </div>
  </div>
</main>


<%- include("partials/footer"); -%>
